.carousel-inner{
    max-height: 450px;
}

.ejemplo{
    background-color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
}

#texto{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
#texto2{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}