.borderCard{
    border: 0px;
}

.marginConteiner{
    margin-top: 20px;
    margin-bottom: 50px;
}

.imagenesTam{
    max-height: 150px;
    padding: 5px;
}

.cartTm{
    min-height: 500px;
}

#colorBtn{
    background-color: gray;
}