.borderCard{
    border: 0px;
}

.marginConteiner{
    margin-top: 20px;
}

.imagenesTam{
    max-height: 150px;
    padding: 5px;
}

.cartTm{
    min-height: 500px;
    max-width: 600px;
}
body{
    background-color: gray;
}